<html>
<head> 
   <link rel ="stylesheet" type ="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    
    </head>
<style>
    i.icon {
        font-size: 2em;
    }
    </style>
<div class="ui fixed inverted menu">
<div class ="ui container">
<div class="header item"><i class="code icon" ></i>Blogs</div>  
<a href ="/blogs" class ="item">Home</a>
<a href ="/blogs/new" class = "item">New Post</a>
<a href="/logout"class ="item">Logout</a>
    
    
    </div>
    
    
    </div>

</html>